body {
  margin: 0px;
  top: 0px;
  background-color: #dbdde0
}

header{
  background-image: url(bilder_klær_riktig/bg-1.jpg);


}

.header_øverst {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;

}

.header_øverst>.lang {
  grid-column: span 12;
  background-color: white;
  color: black;
  text-transform: lowercase;
  text-decoration: underline;
  font-style: normal;
  font-weight: lighter;
}
mark {
  color: blue;
}

.header_øverst>.usynlig {
  grid-column: span 3;
  margin-top: 99px;
  font-size: 15px;
}

.logo {
  width: 150px;
  height: 120px;
  padding-top: 15px;
  padding-right: 0px;
  padding-left: 130px;
  padding-bottom: 15px;
  grid-column: span 4;

}

.header_øverst>.lenke {
  font-size: 13px;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
}




.header_øverst>.usynlig1 {
  grid-column: span 2;
}


.header_øverst>.lenke {
  align-self: center;
  text-decoration: none;
  margin-top: 50px;

}


.header_øverst>.lenke>a {
  color: black;
  text-decoration: none;
}

.header_øverst>.lenke>a:hover {
  color: darkgrey;
  text-decoration: underline;
  transition: all ease-in-out 350ms;
}

.iconbilde {
  width: 30px;
}

.søkemotor{
  box-sizing: border-box;
}
.søkemotor>[type=text] {
  padding: 10px;
   font-size: 17px;
   border: 1px solid grey;
   float: left;
   width: 220px;
   background: #f1f1f1;

}

.søkemotor>[type=submit] {
  float: left;
    width: 60px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.søkemotor {
  grid-column: span 1;
  margin-left: 580px;
  margin-top: 30px;

}


.navigation {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 60px;
  padding-bottom: 0px;
  padding-left: 290px;
  padding-right: 290px;
}


.navigation  {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.dropned {
  float: center;
  overflow: hidden;
  padding-bottom: 50px;
  grid-row: span 6;
}


.dropned>a{
position: relative;
color: #000;
text-decoration: none;
font-size: 25px;

}

.dropned>a:hover {
color: black;
}

.dropned>a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.dropned>a:hover::before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.dropknapp {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.dropned-content {
  display: none;
  position: absolute;
  background-color: #b8d0ce;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.dropned-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropned-content a:hover {
  text-decoration: underline;
  color: darkgrey;
  transition: all ease-in-out 350ms;
}

.dropned:hover .dropned-content {
  display: block;
}







img{
  width: 210px;
}

/*Main*/


main{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  margin: 30px 50px;
  background-color: #fff2ea;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;

}
.tilbake_knapp{


}

.valg_klær1, #valg_klær1 {
  display: grid;
  background-color: #fff2ea;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px 50px;
  padding: 25px;
  text-align: center;
  cursor: pointer;
}





/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
  width: 200px;
  padding: 20px;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}






.h1_over{
padding: 15px;

}


.klær_hoved {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 50px;
  background-color: #fff2ea;
}



.tabell_full {
  grid-row: span 4;
  grid-column: span 0.8;
}

.klær_tekst {
  color: black;
  text-decoration: none;
  padding-left: 10px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

.tabell_halv {
  list-style-type: none;
  text-align: left;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  padding-top: 50px;

}

.tabell_ord {
  text-decoration: none;
  padding-left: 30px;
  font-weight: normal;
  text-transform: lowercase;
  font-size: 24px;
  font-style: normal;
  font-family: monospace;
  cursor: pointer;
}

.tabell_ord:hover {
  text-decoration: underline;
  color: grey;
  cursor: pointer;
}


.linje2_valg, #linje2_valg {
  display: grid;
  background-color: #fff2ea;
  grid-template-columns: repeat(5, 1fr);
  margin: 0px 50px;
  padding: 0px 25px;
}

.Bærekraftig{
  margin-left: 50px;
  padding-top: 15px;
}

.usynlig_linje2_valg{
  grid-column: span 2;
}

.sorter_etter{
padding-top: 0px;
padding-left: 53px;
color: grey;
}

.sortering_hele{
  margin-bottom: 55px;
  display: inline-block;
}
.vare {
  padding: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin: 3px;
}

.vare>a {
  color: black;
}

.vare:hover {
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}

.bilde{
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.bilde:hover{
 -moz-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   transform: scale(1.1);
}


.navn_varer{
font-size: 16px;

}

.pris_varer{
  font-size: 18px;
}

.reklame2>a>img {
  width: 100%;
  height: 300px;
  transition: 0.8s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hele_footer {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-decoration: none;
  font-weight: normal;
  padding: 60px 100px;
}

th>a {
  text-decoration: none;
  color: white;
}

td>a {
  text-decoration: none;
  color: white;
}

.sosbilder {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin: 15px;
}

thead {
  text-decoration: underline;
  font-size: 22px;
}

tbody {
  font-style: normal;
  font-size: 18px;
  font-family: monospace;
  font-weight: lighter;
  text-transform: lowercase;
}
